.header {
  width: 100%;
}
.header__logo {
  width: 122px;
  margin-left: 9%;
  padding-top: 9%;
}
.header__line {
  margin-top: 10%;
  height: 1px;
  background-color: #545454;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .header__logo {
    width: 150px;
    margin-left: 6%;
    padding-top: 6%;
  }
  .header__line {
    margin: 0 6%;
    margin-top: 10%;
    width: 88%;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 880px;
  }
  .header__logo {
    width: 173px;
    margin: 0;
    padding-top: 5%;
  }
  .header__line {
    width: 100%;
    margin: 5% 0 0 0;
  }
}
