.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000000be;
  z-index: 1;
  display: none;
}
.popup-profile-avatar {
  padding: 0 0 12%;
}
.popup__container-image {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin: auto;
}
.popup__image {
  max-width: 75vw;
  max-height: 75vh;
}
.popup__title-image {
  position: relative;
  margin: 0;
  padding-top: 10px;
  width: 80%;
  font-size: 12px;
}

.popup__container {
  background-color: #fff;
  color: #000;
  width: 282px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin: auto;
}
.popup__opened {
  display: flex;
  transition: 0.3s;
}
.popup__close-button {
  background: url(../images/popup__close-icon.svg) no-repeat center;
  background-size: cover;
  border: none;
  position: relative;
  top: -34px;
  left: 250px;
  width: 26px;
  height: 26px;
}
.popup__close-image {
  top: -4px;
  left: 100%;
  width: 30px;
  height: 30px;
}

.popup__close-button:hover {
  opacity: 0.8;
  filter: drop-shadow(0 4px 4px #000);
  cursor: pointer;
}

.popup__heading {
  margin: 0 8%;
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 26% 0;
}
.popup__heading-delete {
  padding: 0 0 2% 0;
}
.popup__form-set {
  border: none;
}
.popup__form-input {
  border: none;
  margin: 0 3%;
  font-size: 14px;
  padding-bottom: 3.5%;
  outline: none;
}
.popup__form-job {
  margin-top: 12%;
}
.popup__form-link {
  margin-top: 12%;
}
.popup__form-input:focus {
  border: 1px solid #529cfc;
  width: 90%;
}
.popup__line {
  margin: 1% 0 2% 3%;
  height: 1px;
  background-color: #c4c4c4;
  width: 90%;
}
.popup__form-input_error {
  background-color: #ff0000;
}
.popup__input-error {
  font-size: 12px;
  color: red;
  opacity: 0;
  position: relative;
  top: calc(100% + 6px);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  margin: 3px 3% 0;
  width: 90%;
}

.popup__input-error_active {
  opacity: 1;
}

.popup__form-button_active {
  margin: 6% 0 7% 0;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3%;
  width: 95%;
  height: 46px;
}
.popup__form-button_active:hover {
  opacity: 0.8;
  filter: drop-shadow(0 4px 4px #000);
  cursor: pointer;
}
.popup__form-button_disabled {
  margin: 6% 0 7% 0;
  background-color: #f5f5f5;
  color: #000;
  opacity: 20%;
  border: solid #000;
  cursor: default;
  border-radius: 3%;
  width: 95%;
  height: 46px;
}
.popup__formset-button {
  padding-right: 0;
}
::placeholder {
  color: #c4c4c4;
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  .popup__container {
    width: 430px;
  }
  .popup__heading {
    padding: 0 0 54px 0;
    margin: 0 36px;
    font-size: 24px;
  }
  .popup__heading-delete {
    padding: 0 0 5px 0;
  }
  .popup__line {
    margin: 1% 0 2% 5%;
  }
  .popup__form-input {
    margin: 0 24px;
    padding: 0;
  }
  .popup__form-job {
    margin-top: 7%;
  }
  .popup__form-link {
    margin-top: 7%;
  }
  .popup__input-error {
    margin: 8px 6% 0;
  }
  .popup__form-button {
    margin: 22px 0 36px 20px;
    width: 358px;
    height: 50px;
  }
  .popup__form-button_disabled {
    margin: 22px 0 36px 20px;
    width: 358px;
    height: 50px;
  }
  .popup__close-button {
    top: -48px;
    left: 434px;
    width: 40px;
    height: 40px;
  }
  .popup__close-image {
    top: -4px;
    left: 100%;
    width: 30px;
    height: 30px;
  }
  .popup__title-image {
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__title-image {
    font-size: 18px;
  }
}
