.profile {
  width: 100%;
  padding-bottom: 10%;
}

.profile__column-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12%;
}
.profile__avatar-container {
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile__avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.profile__avatar-edit {
  position: absolute;
  background: url(../images/profile__button-edit.svg) no-repeat center,
    #00000083;
  background-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135px;
  height: 135px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: 0;
}
.profile__avatar-edit:hover {
  opacity: 1;
}
.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__name-content {
  display: flex;
  column-gap: 5%;
  align-items: center;
  padding-top: 12%;
  justify-content: space-between;
}
.profile__name {
  font-size: 24px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  width: 180px;
  text-align: center;
}
.profile__button-edit {
  background: url(../images/profile__button-edit.svg) no-repeat center;
  background-size: 9px;
  width: 3px;
  height: 3px;
  padding: 5px;
  border: 1px solid #fff;
  box-sizing: content-box;
}
.profile__button-edit:hover {
  opacity: 0.8;
  filter: drop-shadow(0 4px 4px #000);
  cursor: pointer;
}
.profile__job {
  font-size: 12px;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 12%;
}

.profile__column-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__button-add {
  color: #fff;
  background-color: black;
  border: 1px solid #fff;
  width: 90%;
  height: 40px;
  font-size: 20px;
}
.profile__button-add:hover {
  opacity: 0.8;
  filter: drop-shadow(0 4px 4px #000);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 680px;
  }
  .profile__column-left {
    flex-direction: row;
    gap: 20px;
    padding-top: 8%;
  }
  .profile__column-right {
    padding-top: 8%;
  }
  .profile__info {
    align-items: flex-start;
  }
  .profile__name {
    font-size: 32px;
    width: 260px;
    text-align: start;
  }
  .profile__job {
    font-size: 14px;
    align-content: baseline;
  }
  .profile__button-edit {
    width: 18px;
    height: 18px;
    padding: 3px;
  }
  .profile__button-add {
    width: 115px;
    height: 45px;
    font-size: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .profile {
    width: 880px;
    padding-bottom: 6%;
  }
  .profile__column-left {
    padding-top: 4.5%;
  }
  .profile__column-right {
    padding-top: 3%;
  }
  .profile__name {
    font-size: 42px;
    width: 320px;
  }
  .profile__job {
    font-size: 18px;
  }
  .profile__button-add {
    width: 150px;
    height: 50px;
    font-size: 28px;
  }
}
